<div>
    <div class="form-group">
        <input class="form-field" type="password" placeholder="Enter your password" name="password"
            (input)="onPasswordInput($event)">
        <label for="password" class="form-label">Enter your password</label>
    </div>
    <div class="strength-bar" [@colorAnimation]="passwordStrength">
        <div class="section" [style.background-color]="strengthColors[0]"></div>
        <div class="section" [style.background-color]="strengthColors[1]"></div>
        <div class="section" [style.background-color]="strengthColors[2]"></div>
    </div>
</div>